* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(180, 178, 178);
    color: orangered;
    padding: 20px;
}

.container-grid {
    margin-top: 50px;
}

.card {
    min-height: 350px; /* Definindo uma altura mínima para o card */
    max-height: 100%; /* Ajustando a altura máxima */
    overflow-y: auto; /* Permitindo rolagem vertical se necessário */
    margin-bottom: 50px;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card h4, .card p {
    color: #ffffff;
    font-weight: 600;
}

.card h4 {
    font-size: 1.5em; /* Ajuste do tamanho da fonte para o título */
}

.card p {
    font-size: 1em; /* Ajuste do tamanho da fonte para o parágrafo */
}

.container-grid h2 {
    margin-bottom: 30px;
}

.carousel {
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 1200px) {
    .card h4 {
        font-size: 1.3em;
    }
    .card p {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .row {
        margin: 0; /* Garantir que não haja margens laterais */
    }

    .col-lg-4, .col-md-6, .col-sm-12 {
        padding: 0; /* Remover padding para evitar rolagem horizontal */
    }
}

@media (max-width: 576px) {
    .card h4 {
        font-size: 1.1em;
    }
    .card p {
        font-size: 0.8em;
    }
}
